.Hero {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .75rem;
    padding: 0 1.5rem;
}

.separeitor {
    margin-top: 60px;
}

.separeitor label {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    color: #0ae98a;
    font-size: 16px;
    cursor: pointer;
    padding-bottom: 50px;
}

.separeitor label div svg,
.separeitor label div svg path {
    fill: #0ae98a;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1.5rem;
    height: 1.5rem;
}